@tailwind base;
@tailwind components;
@tailwind utilities;
.drop-shadow{
    box-shadow: 1px 4px 7px 0px #161414;
}
/* .bgblur{
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 #83a6034f;
backdrop-filter: blur( 10.5px );
-webkit-backdrop-filter: blur( 10.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
} */
